<div>
    <p>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"(click)="isCollapsed2= 'false'"
            [attr.aria-expanded]="!isCollapsed" aria-controls="inventory">
      Add to Inventory
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed2 = !isCollapsed2 "(click)="isCollapsed= 'false'" 
    [attr.aria-expanded]="!isCollapsed" aria-controls="orders" >
    Orders
    </button>
    </p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
       <h1>You are in admin page.You are in admin page.</h1> <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
      </div>
    </div>
  </div>
   
<div id="collapseExample" [ngbCollapse]="isCollapsed2">
    <div class="card">
      <div class="card-body">
       <h1>You are in admin page.You are in admin page.1223</h1> <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
       <h1>You are in admin page.</h1>
      </div>
    </div>
  </div>
  </div>