<div class="py-5" id="team">
	<div class="py-md-3">
	<div class="mb-5">
				<h3>BuildMyPc</h3>
			</div>
		<div class="row">
			<div class="col-md-4  col-sm-6 ">
				<img src="./assets/images/t1.jpg" class="img-responsive img-fluid" alt=""/>
				<div>
                    <h3>Our Rigs</h3>
                    <button type="button" routerLink='/rigs' class="nav-link btn btn-primary bg-dark" href="#"><b>Click ME</b></button>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<img src="images/t2.jpg" class="img-responsive img-fluid" alt="" />
				<div>
                    <h3>Accessories</h3>
					<div>
					</div>
					<button type="button" routerLink='/Accessories' class="nav-link btn btn-primary bg-dark" href="#"><b>Click ME</b></button>
	
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<img src="images/t3.jpg" class="img-responsive img-fluid" alt="" />
				<div>
                    <h3>Build Your Own</h3>           
					<div>
					</div>
					<button type="button" routerLink='/build' class="nav-link btn btn-primary bg-dark" href="#"><b>click ME</b></button>
				</div>
			</div>
			<router-outlet></router-outlet>